* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

.hide {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    border-bottom: 2px solid rgb(94, 94, 119);
    padding-bottom: 20px
}

.addCartInHeader {
    position: absolute;
    right: 125px;
    top: 25px;
    color: white;
    font-size: 12px;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    padding: 5px;
}

.addCartInHeader:hover {
    background-color: red;
    color: black;
    font-size: 15px;

}

.nameandCartHeader {
    display: flex;
    gap: 550px;
    margin-top: 20px;
}

.name {
    display: flex;
    gap: 30px;
}

.cartImage {
    display: flex;
    gap: 40px;
}

.imgOfAvatar {
    width: 30px;
    height: 30px;
}
.imgOfAvatar:hover {
    border: 2px solid #fc9c36;
    border-radius: 50%;
}

.name>div:hover {
    border-bottom: 3px solid rgb(221, 173, 16);
}

.imageBig {
    width: 400px;
    height: 350px;
    border-radius: 10px;

}

.MovebleImage {
    width: 404px;
    height: 354px;
    border-radius: 10px;
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 100px;
}

.ImgeContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.RightAside {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    gap: 10px;
}

.imgSmall {
    display: flex;
    gap: 53px;
}

.imge1 {
    width: 60px;
    height: 60px;
    border-radius: 10px;

}

.imge1:hover {
    border: 2px solid red;
    filter: blur(1px);
}

.companyName {
    color: #ffac6a;
    font-size: 20px;
    font-weight: 400;
}

.limited {
    font-size: 40px;
}

.paragraph {
    font-size: 11x;
}

.note {
    font-size: 30px;
}

.percent {
    color: #d56927;
    padding: 4px;
    border-radius: 5px;
    background-color: #fcefe5;
}

.DandBtn {
    display: flex;
    gap: 10px;
}

.incresdecrese {
    width: 170px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 35px;
    background-color: #fcf7fc;
    border-radius: 10px;
    padding: 5px;
}

.cartBtn {
    width: 255px;
    padding: 15px;
    background-color: #fc9c36;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.cartBtn:hover {
    background-color: #ce651b;
}

#minus {
    color: #ce651b;
    font-size: 40px;
}

#plus {
    color: #ce651b;
    font-size: 30px;
}
.popup{
    padding-top: 10px;
    border: 1px solid rgb(252, 240, 240);
    width: 270px;
    height: 185px;
    position: absolute;
    right: 70px;
    top: 73px;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffffff;
box-shadow:  -35px -35px 70px #eeeeee,
             35px 35px 70px #ffffff;
}
.popImage{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.popDiv{
    margin-top: 25px;
display: flex;
font-size: 12px;
gap: 10px;
padding-left: 15px;
padding-right: 15px;
justify-content: center;
}
.popDiv>p{
    width: 160px;
}
#trash{
    font-size: 18px;
    margin-top: 10px;
}
.popCart{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(82, 80, 80);
}
.popBtn{
    padding: 10px;
    width: 240px;
    margin-left: 14px;
    background-color: #ff7d1b;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
   
}
.empty{
    text-align: center;
    margin-top: 50px;
    position: absolute;
    right: 150px;
    top: 120px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;

}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 16px;
    color: rgb(38, 97, 74);

}